.masonry__section {
  &-header {
    font-family: 'Poppins', 'Roboto', 'Open Sans', sans-serif;
    text-align: center;

    &-subtitle {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      color: #616161;
    }

    &-title {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      color: #3A3A3A;
    }
  }
}

.masonry-item { width: 200px; }