<main class="main-page">
  <section class="main-page__novelty">
    <div class="main-page__novelty-image">
      <img src="images/backgrounds/main-page-background.jpg" alt="Novelty background">
    </div>
    <div class="main-page__novelty-data">
      <h4 class="main-page__novelty-data-subtitle">New Arrival</h4>
      <h1 class="main-page__novelty-data-title">Discover Our New Collection</h1>
      <p class="main-page__novelty-data-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
      <button class="main-page__novelty-data-button">Buy now</button>
    </div>
  </section>
  <section class="main-page__browse browse-range-container">
    <div class="main-page__browse-header">
      <h2 class="main-page__browse-header-title">Browse The Range</h2>
      <span class="main-page__browse-header-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </div>
    <div class="main-page__browse-items">
      <a href="#!" class="main-page__browse-items-item">
        <img src="images/temp-images/browse-image.jpg" alt="" class="main-page__browse-items-item-image">
        <span class="main-page__browse-items-item-title">Dining</span>
      </a>
      <a href="#!" class="main-page__browse-items-item">
        <img src="images/temp-images/browse-image.jpg" alt="" class="main-page__browse-items-item-image">
        <span class="main-page__browse-items-item-title">Dining</span>
      </a>
      <a href="#!" class="main-page__browse-items-item">
        <img src="images/temp-images/browse-image.jpg" alt="" class="main-page__browse-items-item-image">
        <span class="main-page__browse-items-item-title">Dining</span>
      </a>
    </div>
  </section>
  <section class="main-page__products products-container">
    <div class="main-page__products-header">
      <h2 class="main-page__products-header-title">Our Products</h2>
    </div>
    <div class="main-page__products-list">
      <div class="main-page__products-list-item">
        <div class="main-page__products-list-item-image">
          <img src="images/temp-images/product-image.jpg" alt="">
        </div>
        <div class="main-page__products-list-item-discount">
          <span>-30%</span>
        </div>
        <div class="main-page__products-list-item-content">
          <h3 class="main-page__products-list-item-content-title">Syltherine</h3>
          <span class="main-page__products-list-item-content-subtitle">Stylish cafe chair</span>
          <div class="main-page__products-list-item-content-price">
            <b>Rp 2.500.000</b>
            <del>Rp 3.500.000</del>
          </div>
        </div>
        <div class="main-page__products-list-item-hover">
          <button class="main-page__products-list-item-hover-button">Add to cart</button>
          <div class="main-page__products-list-item-hover-footer">
            <a href="#!">
              <img src="images/icons/share.svg" alt="Share icon">
              Share
            </a>
            <a href="#!">
              <img src="images/icons/compare.svg" alt="Compare icon">
              Compare
            </a>
            <a href="#!">
              <img src="images/icons/like.svg" alt="Like icon">
              Like
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-page__products-footer">
      <button>Show More</button>
    </div>
  </section>
</main>