<footer class="footer footer-container">
  <div class="footer__content">
    <div class="footer__content-data">
      <h2 class="footer__content-data-title">MusShop</h2>
      <address class="footer__content-data-address">
        <p>34600 Berezne, Rivne region, Ukraine</p>
        <a href="tel: 096-059-71-22">+38 (096)-059-71-22</a>
        <a href="mailto: saibl.og203@gmail.com">Click to Send Mail</a>
      </address>
    </div>
    <div class="footer__content-links">
      <h3 class="footer__content-links-title">Links</h3>
      <ul class="footer__content-links-list">
        <li class="footer__content-links-list-item">
          <a href="#!" class="footer__content-links-list-item-link">Home</a>
        </li>
        <li class="footer__content-links-list-item">
          <a href="#!" class="footer__content-links-list-item-link">Shop</a>
        </li>
        <li class="footer__content-links-list-item">
          <a href="#!" class="footer__content-links-list-item-link">About</a>
        </li>
        <li class="footer__content-links-list-item">
          <a href="#!" class="footer__content-links-list-item-link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="footer__content-help">
      <h3 class="footer__content-help-title">Help</h3>
      <ul class="footer__content-help-list">
        <li class="footer__content-help-list-item">
          <a href="#!" class="footer__content-help-list-item-link">Payment Options</a>
        </li>
        <li class="footer__content-help-list-item">
          <a href="#!" class="footer__content-help-list-item-link">Returns</a>
        </li>
        <li class="footer__content-help-list-item">
          <a href="#!" class="footer__content-help-list-item-link">Privacy Policies</a>
        </li>
      </ul>
    </div>
    <div class="footer__content-newsletter">
      <h3 class="footer__content-newsletter-title">Newsletter</h3>

      <form class="footer__content-newsletter-form">
        <input type="email" placeholder="Enter Your Email Address">
        <input type="submit" value="subscribe">
      </form>
    </div>
  </div>
  <div class="footer__copyright">
    <span>©Copyright 2024 - Works Copyright - All rights reserved</span>
  </div>
</footer>