<header class="header header-container">
  <div class="header__headline">
    <a href="#!" class="header__headline-link">
      <img src="images/logos/main-logo.svg" alt="Main MusShop Logo" class="header__headline-link-logo">
      <h2 class="header__headline-link-title">MusShop</h2>
    </a>
  </div>
  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <li class="header__navigation-list-item">
        <a href="#!" class="header__navigation-list-item-link">Home</a>
      </li>
      <li class="header__navigation-list-item">
        <a href="#!" class="header__navigation-list-item-link">Shop</a>
      </li>
      <li class="header__navigation-list-item">
        <a href="#!" class="header__navigation-list-item-link">Blog</a>
      </li>
      <li class="header__navigation-list-item">
        <a href="#!" class="header__navigation-list-item-link">About</a>
      </li>
      <li class="header__navigation-list-item">
        <a href="#!" class="header__navigation-list-item-link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="header__icons">
    <ul class="header__icons-list">
      <li class="header__icons-list-item">
        <a href="#!">
          <img src="images/icons/account.svg" alt="Account icon">
        </a>
      </li>
      <li class="header__icons-list-item">
        <a href="#!">
          <img src="images/icons/search.svg" alt="Search icon">
        </a>
      </li>
      <li class="header__icons-list-item">
        <a href="#!">
          <img src="images/icons/heart.svg" alt="Heart icon">
        </a>
      </li>
      <li class="header__icons-list-item">
        <a href="#!">
          <img src="images/icons/shopping-cart.svg" alt="Shopping cart icon">
        </a>
      </li>
    </ul>
  </div>
</header>